.country-stats{
    height:35vh;
    width:100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:space-evenly;
}

.stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
}
.c-stats-heading{
    text-align: center;
}